html {
  direction: ltr;
}

body {
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 100%;
  background-color: #222426;
  color: #d2e3f2;
}

a:link {
  color: #cc687f;
}

a:visited {
  color: #a03951;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px;
}